---
layout: default
title: list
keywords: html+css+js
description: Hypertext Preprocessor

permalink: /html+css+js/
categories: html+css+js
---
<!-- PostList -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="">Title</th>
            <th style="width:200px">Tags</th>
            <th style="width:140px">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.categories['html+css+js'] %}
            {% include post-item.html %}
        {% endfor %}
    </tbody>
</table>

