---
layout: default
title: list
keywords: php
description: Hypertext Preprocessor

permalink: /php/
categories: php
---
<!-- PostList -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="">Title</th>
            <th style="width:200px">Tags</th>
            <th style="width:140px">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.categories['php'] %}
            {% include post-item.html %}
        {% endfor %}
    </tbody>
</table>

